org: diegoladrondeg
service: api-pelicula

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  memorySize: 1024
  timeout: 29               # API Gateway solo permite 29 seg
  iam:
    role: arn:aws:iam::606646193182:role/LabRole   # Este es el rol permitido en Academy
  environment:
    TABLE_NAME: ${sls:stage}-t_peliculas
  disableRollback: true     # Evita que CloudFormation intente revertir recursos no permitidos

package:
  individually: true

functions:
  crear:
    handler: CrearPelicula.lambda_handler
    timeout: 29
    events:
      - http:
          path: /pelicula/crear
          method: post
          cors: true
          integration: lambda

resources:
  Resources:
    TablaPeliculas:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-python-requirements
